* {
    font-family: 'Poppins', sans-serif;
    /* outline: #ffffff 1.5px solid; */
    
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/bg1.jfif);
    background-size: cover;
    background-position: center;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    color: #f5f5f7;
}

/* NAVIGATION */
.navbar {
    padding: 15px 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #ad0000;
    color: #fff;
    font-size: 1.4rem;
    position: sticky;
    top: 0;
    z-index: 1;
}

.list {
    list-style-type: none;
    display: flex;
    gap: 25px;
}

#toggler, .navbar label{
    display: none;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#logo {
    font-weight: 900;
    text-transform: uppercase;
}

#logo-img {
    height: 35px;
}

/* BANNER */
#web-banner {
    position: relative;
    max-height: 100%;
    overflow: hidden;
    background-color: #530000;
}

#web-banner h1 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-size: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

#floating button{
    width: 200px;
    height: 50px;
    position: fixed;
    right: 24px;
    bottom: 24px;
    border: none;
    font-size: 1.2rem;
    font-weight: 300;
    color: #fff;
    border-radius: 20px;
    background-color: #5661f6e9;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#floating button:hover {
    transition: .5s ease;
    background-color: #4350ff;
    border: #6872ff 5px solid;
}

#logo-float {
    height: 25px;
}

#bg-video {
    min-width: 100%;
    min-height: 50vh;
    max-width: 100%;
    max-height: 50vh;
    object-fit: cover;
    z-index: -1;
}

/* CONTENT */
section {
    border-bottom: #f5f5f72d 5px double;
}
.headline {
    height: 27.5vh;
    text-align: center;
    padding: 75px 100px;
}

.headline h6 {
    font-size: 1.8rem;
    font-weight: 500;
    color: #4e4e4e;
}

.headline h1 {
    font-size: 8rem;
    font-weight: bold;
    border-bottom: #ad0000 5px solid;
    color: #ad0000;
}

.headline p {
    font-size: 1.2rem;
    padding: 0 200px;
    margin-top: 16px;
}

.section-1, .section-2, .section-3 {
    height: 94vh;
    padding: 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-desc {
    float: left;
    width: 85vh;
    padding: 50px;
}

.about-desc p {
    font-size: 1.4rem;
    padding: 50px;
    text-align: justify;
    text-justify: auto;
}

.about-desc button, .portfolio-desc button, #submit {
    width: 200px;
    padding: 15px;
    color: #fff;
    background-color: #ad0000;
    font-size: 1.4rem;
    border: none;
    border-radius: 20px;
}

.about-desc button:hover, .portfolio-desc button:hover, #submit:hover {
    scale: 1.2;
    transition: 1s ease;
    background-color: #ee0000;
    box-shadow: 0 0 30px #ee0000;
}

.professional-desc h5 {
    font-size: 1.4rem;
    padding: 4px;
}

.professional-desc, .portfolio-desc, .feedback-desc, .experience-desc, .education-desc {
    width: 90vh;
    text-align: center;
}

.works-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin-bottom: 32px;
}

#top-img {
    width: 250px;
    height: 250px;
    border: none;
    border-radius: 20px;
}

.top-3, .top-2, .top-1 {
    width: 250px;
    height: 250px;
    border: none;
    border-radius: 20px;
    background-color: #ad0000;
}

.top-3:hover, .top-2:hover, .top-1:hover {
    scale: 1.5;
    transition: 1s ease;
}

.professional-desc p, .portfolio-desc p, .feedback-desc p, .experience-desc p, .education-desc p {
    font-size: 1.4rem;
    margin-bottom: 24px;
}

.about-desc h6, .professional-desc h6, .portfolio-desc h6, .feedback-desc h6, .experience-desc h6, .education-desc h6 {
    font-size: 3rem;
    font-weight: 900;
    color: #dddddd85;
}

.about-desc h1, .professional-desc h1, .portfolio-desc h1, .feedback-desc h1, .experience-desc h1, .education-desc h1 {
    color: #ad0000;
    font-size: 4rem;
    text-transform: uppercase;
}

.about-img {
    float: right;
    overflow: hidden;
    width: 85vh;
    margin: 75px;
    border-radius: 9999px;
    border: #530000 15px solid;
}

.about-img img{
    width: 100%;
    height: auto;
    transition: scale 400ms;
    z-index: -2;
}

.about-img:hover img {
    scale: 150%;
}

.section-4 {
    height: 30vh;
}

.stats-5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    padding: 5vh;
    text-align: center;
    background-color: #ad0000;
}

.stat-1, .stat-2, .stat-3, .stat-4, .stat-5 {
    width: 20vh;
    height: 20vh;
    border: none;
    border-radius: 20px;
}

.stats-5 h1 {
    font-size: 6rem;
    margin-top: 30px;
    color: #dadada;
}

.stats-5 p {
    font-size: 1.14rem;
    color: #fff;
}

.section-5 {
    height: 55vh;
    padding: 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#feedback {
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.input-container {
    position: relative;
}

#name {
    width: 400px;
    margin-right: 55px;
}

#email {
    width: 300px;
}

#desc {
    width: 780px;
    margin-bottom: 32px;
}

input {
    border: 0;
    border-bottom: #ffffff 1px solid;
    background: transparent;
    width: 100%;
    padding: 8px 5px 0 20px;
    font-size: 1.6rem;
    color: #000;
    margin-bottom: 16px;
}

label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.6rem;
    color: #f5f5f7;
    transition: 0.3s ease-in-out;
    padding: 0 20px;
}

input:focus {
    border: none;
    outline: none;
    border-bottom: #ad0000 1px solid;
}

input:focus ~ label,
input:valid ~ label {
    top: -12px;
    font-size: 1.2rem;
}

/* PROGRESSBAR */
progress { 
    margin-top: 8px;
    width: 100%; 
    margin-bottom: 20px; 
    height : 16px; 
    border: 1px solid rgba(255, 255, 255, 0);
}

progress::-webkit-progress-bar {
    background-color: rgba(0, 128, 0, 0); 
}

progress::-webkit-progress-value { 
    background-color: #ad0000;
}

footer {
    height: 9vh;
    background-color: #ad0000;
    line-height: 9vh;
    text-align: center;
    color: #fff;
    font-size: 1rem;
    font-weight: 100;
}

.section-6, .section-7 {
    padding: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timeline__desc h3 {
    font-size: 20px;
    font-weight: 300;
    color: #f5f5f7;
    padding: 10px 0;
}

.timeline__title h1 {
    font-size: 32px;
    margin-top: 5px;
    width: 650px;
}

.timeline__desc p {
    font-size: 18px;
    margin-left: 25px;
}

.timeline {
    position: relative;
    max-width: 900vh;
    text-align: left;
}     

.timeline__line { 
    border-right: 2px solid #ad0000;
    left: 0.75rem;
    position: absolute;
    top: 0px;
    height: 100%;
}   

.timeline__items {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.timeline__item {
    margin: 75px 0;
}     

.timeline__top {
    align-items: center;
    display: flex;
}  

.timeline__circle {
    background-color: #ad0000;
    border-radius: 9999px;
    height: 1.5rem;
    width: 1.5rem;
}  

.timeline__title {
    flex: 1;
  
    margin-left: 0.5rem;
} 
.timeline__desc {
    margin-left: 2rem;
}


/* SCROLLBAR */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #ff6161;
}

::-webkit-scrollbar-thumb {
    background: #bb0000;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ab0000;
}



/* RESPONSIVE PHONE*/
@media screen and (max-width: 756px) {
    .navbar {
        padding: 0 25px;
    }

    .menu {
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }

    .list {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .navbar label {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }

    #toggler:checked ~ .menu {
        max-height: 100%;
    }

    .headline {
        height: 30vh;
        padding: 50px;
    }

    .headline h6 {
        font-size: 1.6rem;
    }

    .headline h1 {
        font-size: 3.5rem;
    }
    
    .headline p {
        font-size: 1rem;
        padding: 0;
    }
}